<h2>About</h2>
<p>Welcome! It seems you are interested to know more about this website! WeB3 is an interactive music sharing sit that allows its users to either add and share their music or listen to music shared by others.</p>
<h4>What does WeB3 stand for?</h4>
<p>WeB3 stands for the 3 entities involved in the making of this website.</p>
<h5>1) The Band</h5>
<p>In our triangle, you are the most important. You are the creator of the music; the one that provides what is shared in the first place.</p>
<h5>2) The Community</h5>
<p>Next comes the listeners; the ones that spread your music. Without them, none of us would be anywhere.</p>
<h5>3) Us</h5>
<p>Then, of course, you need somewhere to post your music. That's where we come in. Use this site to share your music with lots of people, and eventually you can start selling music here, too.</p>