         <section id="option-buttons">
            <div class="container small-padding">
                <div class="full-width">
                    <h2 class="pink-underline small-bottom-padding">Options</h2>
                   
                    <p>
                        <a class="button" href="/create_band">Create a Band</a>
                        This button will take you to a page where you can create a band. Kepp in mind- if you are already part of a band, you cannot be apart of a new one. You will break my database. And that is mean. Don't be mean. Don't make more than one band.
                    </p>
                    <p>
                        <a class="button" href="/edit_band">Edit Your Band</a>
                        This button will take you to a page where you can edit your band. Sometimes members leave bands. It's ok. It happens. Here is where you can let us know so we can stop telling people that 1D is still together. If you are in a silent argument with a bandmate, please don't passive aggressively remove them just to tick them off. That is mean. Don't be mean. Don't remove people you shouldn't.
                    </p>
                    <p>
                        <a class="button" href="/join_band">Join a Band</a>
                        This button will take you to a page where you can join a band. Please don't randomly join a band that isn't yours. Remember, you get one band. DON'T BREAK MY COMPUTER'S TINY MIND. That would be mean. Don't be mean. Don't join bands you aren't actually apart of.
                    </p>
                </div>
            </div>
        </section>
